//stops the wordpress admin bar from covering content
/*
.nav-fixed {
    #wp-admin-bar-root-default {
        top: -1.5rem !important;
    } 
}
*/

// Develop this further to allow more control and options
// Place in design system
.my-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
	
	padding: 0;
	
    
    @include media-breakpoint-up(sm) { 
        grid-template-columns: 1fr 1fr 1fr; 
    }
    
    @include media-breakpoint-up(lg) { 
        gap: 1.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
	
	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

aside.visually-hidden-focusable div {
    padding: 16px 24px;
    
    @include do-space(margin-top, sm);
    @include do-space(margin-bottom, sm);
    
    border: 2px solid $red;
    
    & > :first-child {
        margin-top: 0;
    }
    
    & > :last-child {
        margin-bottom: 0;
    }
}

//Style sidenote to resemble a blockquote

.sidenote img, .marginnote img { 
    max-width: 300px !important;
}

.sidenote {
	display: block;
	
    //set responsive padding and margins for blockquote
    @include do-space(margin-top, md); 
    @include do-space(margin-bottom, md);
    
    @include do-space(padding-top, sm); 
    @include do-space(padding-bottom, sm); 
    
    @include do-space(padding-left, md); 
    @include do-space(padding-right, md); 
    
    border-radius: 0 0.5rem 0.5rem 0;
    border-left: 0.25rem solid $accent-color;

    background-color: var(--bs-primary-bg-subtle);
	
}

.marginnote { 
    float: right;
    width: 300px;
    font-size: 0.9em;
    margin: 0 0 1em 2em;
}

.sidenote-number, .margin-toggle {
    display: none; 
}

// Dark mode
@include color-mode(dark) {
	
    .sidenote {
		border-left: 0.25rem solid $accent-color-dark;
	}
}